# Конфигурация AppDaemon для Almatel
# Скопируйте этот файл в apps.yaml и отредактируйте

almatel_checker:
  module: almatel
  class: Almatel
  
  # Настройки Almatel
  almatel_username: "your_username"
  almatel_password: "your_password"
  
  # Настройки MQTT
  mqtt_host: "your_IP"
  mqtt_port: "your_port"
  mqtt_user: "yuor_username"
  mqtt_pass: "yuor_password"
  
  # Интервал обновления (в секундах)
  update_interval: 3600
